.body {
    background-color: aqua;
}


#map { 
    height: 600px; width: 600px; 
}

.main {
    background-color: red;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main:hover {
    background-color: green;
}